body{
  background-image: url("../img/bgimg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Permanent Marker', cursive;
}
.header{
  margin-bottom: 100px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Permanent Marker', cursive;
}
.header h1{
  font-size: 40px;
}
#output{
  text-align: center;
  margin-top: 100px;
  font-size: 35px;
  transition: 0.3em;
}
.btn{
  margin-top: 20px;
}
.form-group{
  width: 70%;
  font-family: 'Permanent Marker', cursive;
}
